{% extends "base.html" %}

{% block content %}
    <form action="" method="post">
        <div class="main_con">
        	<h1>Dentalcare</h1>
        	<h2>Качественные стоматологические услуги</h2>
        	<div class="main_content">Lorem ipsum dolor sit, amet consectetur, adipisicing elit. Repudiandae quis aperiam harum doloremque accusantium eius sapiente in molestiae, totam ducimus sequi similique. Error obcaecati dolorem quidem facere hic nulla nisi.</div>
        </div>
    </form>
{% endblock %}
